extends ../layouts/tplDefault.pug
block variebals
    - metaTitle = 'AntoXa PRO - создание сайтов и web приложений';
    - metaDescription = 'Создание качественных сайтов и разработка web приложений любой сложности под ключ. Заказать создание сайта.';
    - metaKeywords = 'antoxa, pro, заказать, создание, сайтов, сайт, web, приложения, заказать сайт, создание сайтов, web приложение, под ключ';
    - pageTitle = 'Создание web сайтов';
block content
    p Создание сайтов и разработка web приложений любой сложности под ключ.