extends _webDocument.pug
block body
    header
        .container
            .site-logo
                a(href="/") AntoXa PRO
    main.content
        .container
            h1.title=pageTitle
            block content
    footer
        .container
            p.copyright &copy; 2017 AntoXa PRO | 
                strong ASP.NET, NodeJs, HTML, CSS
            ul.contacts
                li тел: +7 996 919 35 34
                li email: info@antoxa.pro